@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	color: hsl(228, 45%, 44%);
	background-color: #f3f4f6;
}

.dark-mode {
	background-color: hsl(231deg 24% 11%);
	color: white;
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding-bottom: 2rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.bg-image {
	background-image: url("images/bg-desktop-light.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	width: 100%;
	z-index: -1;
}

.card-todo {
	width: 30%;
	margin: auto;
	margin-top: -17rem;
	/* position: absolute;
	top: 30%;
 left: 50%;
 transform: translate(-50%, -50%); */
}

.header {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#iconTheme {
	cursor: pointer;
}

.title {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	letter-spacing: 10px;
}

.list-input {
	margin-top: 4rem;
	width: 100%;
	padding: .5rem 1.3rem;
	background-color: white;
	border-radius:.3rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.1);
}

.text-input {
	border: none;
	outline: none;
	color: hsl(228, 45%, 44%);
	font-size: 1.2rem;
	width: 100%;
	padding: .5rem 0;
}

.checkbox{
	-webkit-appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	/* border-radius:50%; */
	/* background: #f8f7f7; */
	/* border: 1px solid hsl(228, 45%, 44%); */
	/* border-width: 4px;
  border-style: solid;
		border-radius: 50%;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1; */
		background: linear-gradient(white, white) padding-box,
              linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
	cursor: pointer;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 50em;
  border: 1px solid transparent;
}

.checkbox::before:hover {
	background: linear-gradient(white, white) padding-box,
              linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
	border-radius: 50em;
	border: 1px solid transparent;
}

.checkbox:checked{
	background: linear-gradient(140deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 40%);
}

.checkbox::before{
	content: '';
	display: none;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-image: url(images/icon-check.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.checkbox:checked::before{
	display: block;
}

.todos {
	background: white;
	margin-top: 1.5rem;
	width: 100%;
	/* padding: .6rem; */
	background-color: white;
	border-radius:.3rem;
 display: flex;
	flex-direction: column;
	align-items: start;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.todo-lists {
	list-style: none;
	width: 100%;
}

.todo-lists li {
	padding: .4rem;
 display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1.2rem 1.4rem;
	border-bottom: 1px solid #e2e5f2;
	position: relative;
	cursor: move;
	font-weight: 400;
}

.todo-lists li .checkbox:checked ~ span {
	text-decoration: line-through #d1d3db;
	color: #d1d3db;
}

.todo-lists li img {
	display: none;
}

.todo-lists li:hover > img {
	display: block;
}

.todo-lists li img {
	position: absolute;
	top: 50%;
 right: 3%;
 transform: translate(-50%, -50%);
	cursor: pointer;
}

.todo-lists li:last-child {
	border-bottom: none;
}

.actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #e2e5f2;
	padding: 1.2rem 1.4rem;
}

.actions span {
	color: #9396a8;
}

.actions div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.actions div button, .actions button {
	border: none;
	outline: none;
	background: white;
	color: #9396a8;
	font-weight: bold;
	cursor: pointer;
}

.actions div button:hover, .actions button:hover {
	color: hsl(228, 45%, 44%);
}

.actions div .active {
	color: hsl(220, 98%, 61%);
}

.drag-tip {
	text-align: center;
	margin-top: 3rem;
}
